.post2{
    text-align: center;
  }
  
  .post3{
    text-decoration: line-through;
    color: green;

  }

  .post4{
    padding: 10px;

    text-align: right.calc(50%);
  }

  .red-text{
    color: red;
  }

  .blue-text{
    color: blue;
  }